@import 'settings';
@import 'foundation-emails';

$bg-color: #f2f2f2;
$dark-color: #080b15;

/* CSS for hiding content in desktop/webmail clients */
.only-small { max-height: 0px; font-size: 0; display: none; }

.xonly-small {
  display: none;
}

@media only screen and (max-width: 40em) {
  .xonly-small {
    display: block !important;
  }
}

td.columns, td.column, th.columns, th.column {
  padding-bottom: 0 !important;
}

.view-in-browser {
  margin-top: 30px;
}

.dark-bg {
  background-color: $dark-color;
}

.logo-title {

  font-family: 'Helvetica';
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 20px;

}

.logo-date {

  font-family: 'Helvetica';
  font-size: 14px;
  margin-top: 5px;

}

.white-bg th {
  padding: 0;
}

body {
}

.black-bg {
  background-color: #000000 !important;
}

.top-section-row {
  margin-bottom: 5px;
}

.top-blurb {
  .wrapper-inner {
    padding: 40px;
  }
  * {
    color: white;
  }
}

.white-on-black {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  margin-top: 5px;
}

.zero-vert-paddings {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.artist-title {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.artist-title-mobile {
  margin: 20px 0px;
}


.more-btn-white {
  margin: 20px 0;
}

.artist {
  background: white;

  .artist-text {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .inner {
    background: white;
    padding: 10px;
  }
  @media only screen and (max-width: #{$global-breakpoint}) {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 40em) {
  .artist .artist-text {
    height: auto !important;
  }
}

.wrapper-inner {
  padding: 10px;
}

.artist-text {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #808080;
  @media only screen and (max-width: #{$global-breakpoint}) {
    padding: 0 40px;
  }

}

.bottom-text {
  margin-top: 100px;
  font-size: 14px;
  margin-right: 10%;
  margin-left: 10%;
  color: #000000;
}

@media only screen and (max-width: 40em) {
  .bottom-text-light * {
    font-size: 10px !important;
  }
}

.bottom-text-light a, .bottom-text-light div {
  color: #a9a9a9;
}

.image-promo {
  width: 100% !important;
}

.social-share img {
  @media only screen and (max-width: #{$global-breakpoint}) {
    height: 30px !important;
    width: 30px !important;
  }
}

table.button.alt table td {
  border: 1px solid $dark-color;
  background: white;
}

table.button.alt table td a {
  color: $dark-color;
}
